.contact {
    display: grid;
    background-color: rgb(0, 0, 0);

    .tituloC {
        text-align: center;
        padding-top: 45px;
        font-size: 27px;
        color: rgb(91, 175, 224);
    }

    .iconoss {
        text-align: center;
        margin-top: 30px;
        margin-bottom: 20px;

        .icoo {
            width: 28px;
            margin-left: 9px;
            margin-right: 9px;
            transition: 0.6s;

            &:hover {
            transform: scale(1.2);
            filter: drop-shadow(0 0 4px rgba(91, 175, 224, 0.651));
            }
        }
    }

    .copy {
        background-color: rgb(0, 0, 0);
        color: rgb(179, 176, 176);
        height: 30px;
        text-align: center;
        justify-content: center;
      }
}





