.main {
    width: 100%;
    background-color: white;

    .mariano {
        height: auto;
        padding-top: 50px;
        display: grid;
        grid-template-columns: 300px 380px;
        gap: 80px;
        justify-content: center;
        background-color: rgb(0, 0, 0);
        padding-bottom: 50px;

        @include medio {
            grid-template-columns: none;
            grid-template-rows: auto auto;
            gap: 0px;
        }

        @include mobile {
            
        }

        .foto {
            width: 300px;
            border-radius: 50%;
            text-align: center;
            box-shadow: 0 0 17px rgba(91, 175, 224, 0.651);
            justify-self: center;
            margin-top: 100px;

            @include mobile {
                width: 240px;
                margin-top: 60px;
                margin-bottom: 20px;

            }
        }

        .carta {
            margin-top: 50px;
            margin-bottom: 50px;

            .titulo {
                font-size: 65px;
                text-align: center;
                color: rgb(255, 255, 255);

                @include mobile {
                    font-size: 50px;
                }
            }

            .present {
                font-size: 35px;
                text-align: center;
                color: rgb(91, 175, 224);
                padding-top: 20px;

                @include medio {
                    padding-left: 20px;
                    padding-right: 20px;
                }

                @include mobile {
                    font-size: 28px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            .bienvenida {
                font-size: 28px;
                text-align: center;
                color:rgb(255, 255, 255);
                padding-top: 15px;

                @include medio {
                    padding-left: 20px;
                    padding-right: 20px;
                }

                @include mobile {
                    font-size: 23px;
                    padding-left: 10px;
                    padding-right: 10px;
                }
            }

            .bott {
                text-align: center;
                justify-self: center;
                padding-top: 28px;

                .boton {
                    width: 120px;
                    height: 34px;
                    text-align: center;
                    color: rgb(0, 0, 0);
                    font-size: 11px;
                    font-weight: 600;
                    background-color: rgb(91, 175, 224);
                    border-radius: 14px;
                    border-color: rgb(91, 175, 224);
                    transition: 0.3s;
                    box-shadow: 0 0 10px rgba(91, 175, 224, 0.651);

                    &:hover {
                        cursor: pointer;
                        transform: scale(1.03);
                        background-color: rgb(255, 255, 255);
                        border-color: rgb(255, 255, 255);
                        color: rgb(0, 0, 0);
                        box-shadow: 0 0 10px rgba(91, 175, 224, 0.651);
                    }

                    
                    @include mobile {
                        width: 112px;

                    }
                }
            }
        }
    }   

    .skills {
        height: auto;
        background-color: rgb(36, 36, 36);
        padding-bottom: 90px;
        display: block;
        justify-content: center;

        .tituS {
            text-align: center;
            padding-top: 70px;
            font-size: 27px;
            color: rgb(91, 175, 224);
        }

        .conocimientos {
            height: auto;
            display: flex;
            padding-top: 70px;
            justify-content: center;
            gap: 45px;

            @include medio {
                gap: 18px;
            }

            @include mobile {
                grid-template-columns: none;
                display: grid;
                grid-template-rows: auto auto auto auto auto auto auto;
            }

            .sk {
                height: auto;
                width: auto;
                display: grid;
                gap: 10px;

                .imgSk {
                    margin: auto;
                    height: 35px;
                    transition: 1.4s;

                    &:hover {
                        cursor: pointer;
                        transform: rotate(1turn);
                    }
                }

                .pSk {
                    text-align: center;
                    color: rgb(214,212,212);
                }
            }
        }

        .contE { 
            width: 100%;
            height: auto;
            margin-top: 90px;
            margin-bottom: 90px;
            display: grid;
            justify-content: center;
            align-items: center;
            background-color: rgb(36, 36, 36);

            .rows {
                width: 700px;
                height: auto;
                display: grid;
                grid-template-rows: 100px 100px;
                gap: 55px;
                justify-content: center;

                @include mobile {
                    width: 340px;
                    height: auto;
                }
            }
            
            .row-left {
                width: 650px;
                display: grid;
                justify-content: start;

                @include mobile {
                    width: 340px;
                }
            }
            
            .row-right {
                width: 650px;
                display: grid;
                justify-content: end;

                @include mobile {
                    width: 340px;
                }
            }
            
            .row {
                display: flex;
                align-items: center;
                width: 500px;
                padding-left: 20px;
                padding-right: 20px;
                background-image: linear-gradient(to left,rgb(36, 36, 36), rgba(91, 175, 224, 0.377), rgb(36, 36, 36));
                transition: 0.7s;

                @include mobile {
                    width: 340px;
                    padding-left: 16px;
                    padding-right: 16px;
                }
            }
            
            .row:hover {
                transform: scale(1.03);
            }
            
            .title-row {
                text-align: center;
                color: rgb(255, 255, 255);
                font-size: 20px;
                font-weight: 480;
            }
            
            .p-row {
                color: rgb(255, 255, 255);
                padding-left: 22px;
            }

            .p-p {
                color: white;
                padding-left: 22px;
                padding-top: 8px;
            }
        }
    }

    .proyectos {
        background-color: rgb(0, 0, 0);
        width: 100%;
        height: auto;
        display: grid;

        .tituP {
            text-align: center;
            padding-top: 70px;
            font-size: 27px;
            color: rgb(91, 175, 224);
        }

        .contenedorP {
            width: 100%;
            height: auto;
            padding-top: 70px;
            margin-bottom: 100px;
            display: grid;
            grid-template-columns: 200px 200px 200px 200px 200px;
            grid-column-gap: 40px;
            justify-content: center;

            @include medio {
                width: auto;
                grid-template-columns: none;
                grid-column-gap: none;
                grid-template-rows: 200px 200px 200px 200px 200pxs;
                grid-row-gap: 140px;
                margin-bottom: 160px;
            }

            @include mobile {
                width: auto;
                grid-template-columns: none;
                grid-column-gap: none;
                grid-template-rows: 200px 200px 200px 200px 200px;
                grid-row-gap: 140px;
                margin-bottom: 160px;
            }

            .proyecto {
                border-radius: 10px;
                max-width: 100%;
                height: auto;
                position: relative;
                display: flex;
                justify-content: center;
                box-shadow: 0 0 13px rgba(91, 175, 224, 0.651);
                text-align: center;
                align-items: center;


                &:hover .imgproyect {
                    opacity: 0.2;
                }

                &:hover .textt {
                    opacity: 1;  
                }

                @include medio {
                    height: 298px;
                }

                .imgproyect {
                    display: block;
                    width: 200px;
                    height: auto;
                    border-radius: 10px;
                    border: 2px solid rgb(91, 175, 224);
                    cursor: pointer;
                }

                .textt {
                    text-decoration: none;
                    position: absolute;
                    opacity: 0;
                    font-size: 20px;
                    color: rgb(255, 255, 255);
                    font-weight: bold;
                    justify-content: center;
                    align-items: center;

                    .tituProyect {
                        margin-bottom: 15px;
                    }

                    .pProyect {
                        margin-bottom: 12px;
                        margin-left: 10px;
                        margin-right: 10px;
                        font-weight: 400;
                        font-size: 17px;
                    }

                    .ic {
                        
                        width: 23px;
                        height: 23px;
                        margin-left: 4px;
                        margin-right: 4px;
                        transition: 0.6s;

                        &:hover {
                        transform: scale(1.2);
                        filter: drop-shadow(0 0 4px rgba(91, 175, 224, 0.651));
                        }
                    }
                }
            }
        }
    }

    .sobreMi {
        width: 100%;
        height: auto;
        background-color: rgb(36, 36, 36);
        padding-bottom: 20px;
        display: grid;
        justify-content: center;

        .titu {
            text-align: center;
            padding-top: 70px;
            font-size: 27px;
            color: rgb(91, 175, 224);
        }

        .parrafo {
            text-align: center;
            width: 700px;
            padding-top: 50px;
            font-size: 20px;
            color: rgb(214, 212, 212);

            @include medio {
                width: 490px;
            }

            @include mobile {
                width: auto;
                font-size: 16px;
                padding-left: 17px;
                padding-right: 17px;
            }

            .negrita {
                color: rgb(130, 180, 209);
            }
        }
    }
}