@import url("https://fonts.googleapis.com/css2?family=Lato&family=Luckiest+Guy&family=Roboto+Slab&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  scroll-behavior: smooth;
}

header {
  width: 100%;
  position: fixed;
  z-index: 99;
}
header .container {
  width: 100%;
  background-color: rgb(44, 44, 44);
  display: grid;
  height: 40px;
  place-items: center;
}
header .container .abrir {
  display: none;
}
@media screen and (max-width: 576px) {
  header .container .abrir {
    display: block;
    border: 0;
    background-color: transparent;
    cursor: pointer;
  }
}
@media screen and (max-width: 576px) {
  header .container .menu {
    width: 22px;
    transition: 0.7s;
  }
}
header .container .menu:hover {
  transform: scale(1.06);
  fill: rgb(204, 206, 206);
}
header .container .barra {
  list-style-type: none;
  text-align: center;
  display: flex;
  flex-direction: row;
}
@media screen and (max-width: 576px) {
  header .container .barra {
    display: none;
  }
}
header .container .barra .item {
  display: inline;
  font-size: 15px;
  padding: 6px 18px 6px 18px;
  transition: 0.7s;
}
@media screen and (max-width: 576px) {
  header .container .barra .item {
    font-size: 22px;
  }
}
header .container .barra .item:hover {
  transform: scale(1.05);
}
header .container .barra .item .list {
  text-decoration: none;
  color: white;
}
header .container .barra .item .list:hover {
  color: rgb(91, 175, 224);
}
@media screen and (max-width: 576px) {
  header .container .barra {
    display: flex;
    flex-direction: column;
    background-color: rgb(44, 44, 44);
    font-size: 20px;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    gap: 30px;
    position: absolute;
    padding-top: 80px;
    opacity: 0;
    visibility: hidden;
  }
}
header .container .visible {
  opacity: 1;
  visibility: visible;
}

.main {
  width: 100%;
  background-color: white;
}
.main .mariano {
  height: auto;
  padding-top: 50px;
  display: grid;
  grid-template-columns: 300px 380px;
  gap: 80px;
  justify-content: center;
  background-color: rgb(0, 0, 0);
  padding-bottom: 50px;
}
@media screen and (max-width: 790px) {
  .main .mariano {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    gap: 0px;
  }
}
.main .mariano .foto {
  width: 300px;
  border-radius: 50%;
  text-align: center;
  box-shadow: 0 0 17px rgba(91, 175, 224, 0.651);
  justify-self: center;
  margin-top: 100px;
}
@media screen and (max-width: 576px) {
  .main .mariano .foto {
    width: 240px;
    margin-top: 60px;
    margin-bottom: 20px;
  }
}
.main .mariano .carta {
  margin-top: 50px;
  margin-bottom: 50px;
}
.main .mariano .carta .titulo {
  font-size: 65px;
  text-align: center;
  color: rgb(255, 255, 255);
}
@media screen and (max-width: 576px) {
  .main .mariano .carta .titulo {
    font-size: 50px;
  }
}
.main .mariano .carta .present {
  font-size: 35px;
  text-align: center;
  color: rgb(91, 175, 224);
  padding-top: 20px;
}
@media screen and (max-width: 790px) {
  .main .mariano .carta .present {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .main .mariano .carta .present {
    font-size: 28px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.main .mariano .carta .bienvenida {
  font-size: 28px;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 15px;
}
@media screen and (max-width: 790px) {
  .main .mariano .carta .bienvenida {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media screen and (max-width: 576px) {
  .main .mariano .carta .bienvenida {
    font-size: 23px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.main .mariano .carta .bott {
  text-align: center;
  justify-self: center;
  padding-top: 28px;
}
.main .mariano .carta .bott .boton {
  width: 120px;
  height: 34px;
  text-align: center;
  color: rgb(0, 0, 0);
  font-size: 11px;
  font-weight: 600;
  background-color: rgb(91, 175, 224);
  border-radius: 14px;
  border-color: rgb(91, 175, 224);
  transition: 0.3s;
  box-shadow: 0 0 10px rgba(91, 175, 224, 0.651);
}
.main .mariano .carta .bott .boton:hover {
  cursor: pointer;
  transform: scale(1.03);
  background-color: rgb(255, 255, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  box-shadow: 0 0 10px rgba(91, 175, 224, 0.651);
}
@media screen and (max-width: 576px) {
  .main .mariano .carta .bott .boton {
    width: 112px;
  }
}
.main .skills {
  height: auto;
  background-color: rgb(36, 36, 36);
  padding-bottom: 90px;
  display: block;
  justify-content: center;
}
.main .skills .tituS {
  text-align: center;
  padding-top: 70px;
  font-size: 27px;
  color: rgb(91, 175, 224);
}
.main .skills .conocimientos {
  height: auto;
  display: flex;
  padding-top: 70px;
  justify-content: center;
  gap: 45px;
}
@media screen and (max-width: 790px) {
  .main .skills .conocimientos {
    gap: 18px;
  }
}
@media screen and (max-width: 576px) {
  .main .skills .conocimientos {
    grid-template-columns: none;
    display: grid;
    grid-template-rows: auto auto auto auto auto auto auto;
  }
}
.main .skills .conocimientos .sk {
  height: auto;
  width: auto;
  display: grid;
  gap: 10px;
}
.main .skills .conocimientos .sk .imgSk {
  margin: auto;
  height: 35px;
  transition: 1.4s;
}
.main .skills .conocimientos .sk .imgSk:hover {
  cursor: pointer;
  transform: rotate(1turn);
}
.main .skills .conocimientos .sk .pSk {
  text-align: center;
  color: rgb(214, 212, 212);
}
.main .skills .contE {
  width: 100%;
  height: auto;
  margin-top: 90px;
  margin-bottom: 90px;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgb(36, 36, 36);
}
.main .skills .contE .rows {
  width: 700px;
  height: auto;
  display: grid;
  grid-template-rows: 100px 100px;
  gap: 55px;
  justify-content: center;
}
@media screen and (max-width: 576px) {
  .main .skills .contE .rows {
    width: 340px;
    height: auto;
  }
}
.main .skills .contE .row-left {
  width: 650px;
  display: grid;
  justify-content: start;
}
@media screen and (max-width: 576px) {
  .main .skills .contE .row-left {
    width: 340px;
  }
}
.main .skills .contE .row-right {
  width: 650px;
  display: grid;
  justify-content: end;
}
@media screen and (max-width: 576px) {
  .main .skills .contE .row-right {
    width: 340px;
  }
}
.main .skills .contE .row {
  display: flex;
  align-items: center;
  width: 500px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: linear-gradient(to left, rgb(36, 36, 36), rgba(91, 175, 224, 0.377), rgb(36, 36, 36));
  transition: 0.7s;
}
@media screen and (max-width: 576px) {
  .main .skills .contE .row {
    width: 340px;
    padding-left: 16px;
    padding-right: 16px;
  }
}
.main .skills .contE .row:hover {
  transform: scale(1.03);
}
.main .skills .contE .title-row {
  text-align: center;
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-weight: 480;
}
.main .skills .contE .p-row {
  color: rgb(255, 255, 255);
  padding-left: 22px;
}
.main .skills .contE .p-p {
  color: white;
  padding-left: 22px;
  padding-top: 8px;
}
.main .proyectos {
  background-color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  display: grid;
}
.main .proyectos .tituP {
  text-align: center;
  padding-top: 70px;
  font-size: 27px;
  color: rgb(91, 175, 224);
}
.main .proyectos .contenedorP {
  width: 100%;
  height: auto;
  padding-top: 70px;
  margin-bottom: 100px;
  display: grid;
  grid-template-columns: 200px 200px 200px;
  grid-column-gap: 50px;
  justify-content: center;
}
@media screen and (max-width: 790px) {
  .main .proyectos .contenedorP {
    width: auto;
    grid-template-columns: none;
    grid-column-gap: none;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 140px;
    margin-bottom: 160px;
  }
}
@media screen and (max-width: 576px) {
  .main .proyectos .contenedorP {
    width: auto;
    grid-template-columns: none;
    grid-column-gap: none;
    grid-template-rows: 200px 200px 200px;
    grid-row-gap: 140px;
    margin-bottom: 160px;
  }
}
.main .proyectos .contenedorP .proyecto {
  border-radius: 10px;
  max-width: 100%;
  height: auto;
  position: relative;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 13px rgba(91, 175, 224, 0.651);
  text-align: center;
  align-items: center;
}
.main .proyectos .contenedorP .proyecto:hover .imgproyect {
  opacity: 0.2;
}
.main .proyectos .contenedorP .proyecto:hover .textt {
  opacity: 1;
}
@media screen and (max-width: 790px) {
  .main .proyectos .contenedorP .proyecto {
    height: 298px;
  }
}
.main .proyectos .contenedorP .proyecto .imgproyect {
  display: block;
  width: 200px;
  height: auto;
  border-radius: 10px;
  border: 2px solid rgb(91, 175, 224);
  cursor: pointer;
}
.main .proyectos .contenedorP .proyecto .textt {
  text-decoration: none;
  position: absolute;
  opacity: 0;
  font-size: 20px;
  color: rgb(255, 255, 255);
  font-weight: bold;
  justify-content: center;
  align-items: center;
}
.main .proyectos .contenedorP .proyecto .textt .tituProyect {
  margin-bottom: 15px;
}
.main .proyectos .contenedorP .proyecto .textt .pProyect {
  margin-bottom: 12px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: 400;
  font-size: 17px;
}
.main .proyectos .contenedorP .proyecto .textt .ic {
  width: 23px;
  height: 23px;
  margin-left: 4px;
  margin-right: 4px;
  transition: 0.6s;
}
.main .proyectos .contenedorP .proyecto .textt .ic:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 4px rgba(91, 175, 224, 0.651));
}
.main .sobreMi {
  width: 100%;
  height: auto;
  background-color: rgb(36, 36, 36);
  padding-bottom: 20px;
  display: grid;
  justify-content: center;
}
.main .sobreMi .titu {
  text-align: center;
  padding-top: 70px;
  font-size: 27px;
  color: rgb(91, 175, 224);
}
.main .sobreMi .parrafo {
  text-align: center;
  width: 700px;
  padding-top: 50px;
  font-size: 20px;
  color: rgb(214, 212, 212);
}
@media screen and (max-width: 790px) {
  .main .sobreMi .parrafo {
    width: 490px;
  }
}
@media screen and (max-width: 576px) {
  .main .sobreMi .parrafo {
    width: auto;
    font-size: 16px;
    padding-left: 17px;
    padding-right: 17px;
  }
}
.main .sobreMi .parrafo .negrita {
  color: rgb(130, 180, 209);
}

.contact {
  display: grid;
  background-color: rgb(0, 0, 0);
}
.contact .tituloC {
  text-align: center;
  padding-top: 45px;
  font-size: 27px;
  color: rgb(91, 175, 224);
}
.contact .iconoss {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}
.contact .iconoss .icoo {
  width: 28px;
  margin-left: 9px;
  margin-right: 9px;
  transition: 0.6s;
}
.contact .iconoss .icoo:hover {
  transform: scale(1.2);
  filter: drop-shadow(0 0 4px rgba(91, 175, 224, 0.651));
}
.contact .copy {
  background-color: rgb(0, 0, 0);
  color: rgb(179, 176, 176);
  height: 30px;
  text-align: center;
  justify-content: center;
}/*# sourceMappingURL=estilos.css.map */